.filter {
    display: flex;
    gap: 1.1rem;
    overflow: auto;
    white-space: nowrap;
    font-family: 'DM Sans', sans-serif;
}

.filter::-webkit-scrollbar {
    display: none;
}

.filterTag {
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filterTag img {
    max-width: 165px;
}

.filterTag h2 {
    color: #fff;
    font-size: 700;
    position: absolute;
}

.filterTagActive {
    border: 4px solid #00ACD2;
}