.filter {
    display: flex;
    gap: 1.3rem;
    overflow: auto;
    white-space: nowrap;
    font-family: 'DM Sans', sans-serif;
}

.filter::-webkit-scrollbar {
    display: none;
}

.filterTag {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
}

.filterTagBack {
    border-radius: 30px;
    background-color: rgb(236, 231, 231);
}

.filterTagBack img {
    max-width: 160px;
    opacity: 0;
}

.filterTag img {
    max-width: 160px;
    border-radius: 30px;
}

.filterTag h2 {
    color: #fff;
    font-size: 700;
    position: absolute;
}

.filterTagActive {
    border: 3px solid #00ACD2;
}

@media screen and (max-width:750px) {
    .filter {
        overflow: auto;
        white-space: nowrap;
        flex-direction: row;
        gap: 2.25%;
    }

    .filterTag {
        text-align: center;
    }

    .filterTag img {
        max-width: 65px;
        height: auto;
        border-radius: 20px;
    }

    .filterTagBack {
        border-radius: 20px;
        background-color: rgb(236, 231, 231);
    }

    .filterTagBack img {
        max-width: 65px;
        opacity: 0;
    }

    .filterTag h2 {
        font-size: .95rem;
    }

}