.storyhead {
    padding: 2.25rem 0 1.25rem 0;
}

.storytitle {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 2.25rem;
}

.storyWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2.1rem;
}

@media screen and (max-width:750px) {


    .storyhead {
        padding: 0;
        margin-top: 1rem;
    }

    .storytitle {
        display: none;
    }

}