.header {
    display: flex;
    justify-content: space-between;
    padding: .75rem 1.2rem .75rem 1.85rem;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.logo h4 {
    font-size: 1.7rem;
    font-weight: 700;
}

.registerloginbtn div {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.registerloginbtn button {
    cursor: pointer;
    font-size: .9rem;
    background-color: #FF7373;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: .65rem 1.1rem;
    display: flex;
    gap: .13rem;
    align-items: center;
}

#signinbtn {
    background-color: #73ABFF;
}

.userimage {
    max-width: 45px;
}

.hamburgerMenu {
    display: flex;
    flex-direction: column;
    bottom: -205%;
    right: 0;
    padding: 1.5rem 2.75rem;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menuProfile {
    display: flex;
    flex-direction: column;
}


.menuProfileLogout {
    display: none;
}

.hamburgerMenu .crossIcon,
.hamburgerMenu #menuList {
    display: none;
}

@media screen and (max-width:750px) {
    .header {
        padding: .75rem 1rem;
    }

    .logo h4 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .hamburgerMenu {
        width: 100%;
        bottom: -400%;
        padding: 1rem 0;
    }

    .registerloginbtn div {
        gap: .5rem;
    }

    .registerloginbtn button {
        padding: .45rem .75rem;
        border-radius: 11px;
    }

    .hamburgerMenu #menuList {
        display: flex;
        flex-direction: column;
    }

    .hamburgerMenu #menuList button {
        width: 95%;
        display: flex;
        justify-content: center;
        padding: .5rem 1.25rem;
        border-radius: 15px;
        font-size: 1.05rem;
    }

    .menuProfile .menuProfileLogout,
    .registerloginbtn .rowItem {
        display: none;
    }

    .menuProfile .crossIcon,
    #menuList {
        display: block;
    }

}