.topstory {
    padding: 2rem 0 0 0;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.topstory h4 {
    font-size: 1.55rem;
    font-weight: 700;
}

.storyWrapper {
    display: flex;
    gap: 1.75rem;
}

.story {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.story img {
    max-width: 215px;
    height: auto;
}

.content {
    position: absolute;
    color: #fff;
    margin: 1rem;
    text-align: left;
    font-weight: 700;
}

.content h5 {
    font-size: 1.10rem;
    margin-bottom: .1rem;
}

.content p {
    letter-spacing: .12px;
    font-size: .8rem;
    line-height: 105%;
}





.seemorebtn {
    margin: auto;
    cursor: pointer;
    font-size: .9rem;
    background-color: #FF7373;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: .65rem 1.2rem;
}