.homepage {
    padding: 1.35rem 2.75rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.storyhead {
    padding: 2.15rem 0 1.25rem 0;
}

.storytitle {
    font-size: 1.6rem;
    font-weight: 700;
}

/* ---------- loading.css ------------- */
.storyheadback {
    margin: 2.15rem 0 1.25rem 0;
}

.backback {
    width: 100%;
    height: 30px;
    background-color: rgb(236, 231, 231);
}

.storyContainerBack {
    display: flex;
    width: 100%;
    gap: 2.1rem;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 1.5rem;
}

.storyContainerBack::-webkit-scrollbar {
    display: none;
}

.parentDivBack {
    min-width: 210px;
    height: 395px;
    background-color: rgb(236, 231, 231);
    border-radius: 20px;
    margin: 1.15rem 0 0 0;
}

/* ----------------- loading.css ----------------- */
.div {
    display: none;
}

.yStory {
    display: none;
}

@media screen and (max-width:750px) {
    .homepage {
        padding: 1rem;
    }

    .storyhead {
        padding: 0;
        margin-top: 1rem;
    }

    .storytitle {
        display: none;
    }

    .backback {
        display: none;
    }
.parentDivBack{

    margin-top: 0;
}
    .storyContainerBack {
        flex-direction: column;
        margin-bottom: 0;
    }
}