.homepage {
    padding: 1.35rem 2.75rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.storyhead {
    padding: 2.15rem 0 1.25rem 0;
}

.storytitle {
    font-size: 1.6rem;
    font-weight: 700;
}

.div {
    display: none;
}

.yStory {
    display: none;
}

@media screen and (max-width:750px) {
    .homepage {
        padding: 1rem;
    }

    .storyhead {
        padding: 0;
    }

    .storytitle {
        display: none;
    }
}